<h1>Register</h1>

<form>
<fieldset>
<legend>Your Name</legend>
	<label>
		First:
		<input type="text" name="firstName" />
	</label>

	<label>
		Last:
		<input type="text" name="lastName" />
	</label>
</fieldset>

<fieldset>
	<legend>Email Address</legend>
	<label>
		Email:
		<input type="text" name="email" />
	</label>

	<label>
		Email (confirm):
		<input type="text" name="cemail" />
	</label>
</fieldset>

<fieldset>
	<legend>Password</legend>
	<label>
		Password:
		<input type="text" name="password" />
	</label>

	<label>
		Password (confirm):
		<input type="text" name="cpassword" />
	</label>
</fieldset>

<p>
	<input type="submit" value="Register Now" />
</p>
</form>